API_ENV=development
PORT=3000
BASE_URL=http://localhost:3000
REDIRECT_PORT=3001
REDIRECT_HOST=http://localhost:3001
REDIRECT_PATH=/oauth/google/callback
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:3001/oauth/google/callback
GOOGLE_OAUTH_CLIENT_ID=XXX.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=GXXX
GOOGLE_OAUTH_ENDPOINT=https://accounts.google.com/o/oauth2/v2/auth
JWT_SECRET_KEY=secretkey